/* Police d'écriture  */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500&display=swap');
body {
    display: flex;
    flex-direction:column;
    font-family:Roboto, Arial;
    font-weight:200;
}
/* Haut de la page */
header {
    background-color: rgb(158, 209, 245,0.6);
    display: flex;
    flex-direction: column;
    align-items: center;
}
#logo img {
    height: 100px;
    width: 100px;
    margin: 5px; 
    border-radius:50%;  
}
.en_tete {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color:rgb(197, 199, 249);
    height: 10%;
    margin-top: 0%;
    width: 100%;
    border-radius: 3px;
    max-width: 100%;
}
h1 {
    font-weight: 500;
    font-size: 1.2em;
}
h2 {
   position:absolute;
   top: 30px;
   font-weight: 300;
   font-size: 0.8em;
}
#connexion {
    display: none;
}
#log {
    position:absolute; 
    left: 80%; 
    top: 10%;
}
#log img {
    width: 40px;
}
/* Barre de navigation  */
nav {
    max-width: 100%;
}
nav ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 450px;
}
nav  li {
    width: 100%;
    background-color: rgba(192, 192, 192, 1);
    border-radius: 3px;
    transition: 0.5s;   
    text-align: center;
    padding: 10px;   
}
nav li:hover {
    box-shadow: inset 0px 0px 0px 3px white;
}
nav li a {
    top:25px;
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
    font-size: 0.8em;
}


/* Corps de la page  */
main {
    display: flex;
    flex-direction:column; 
    align-items: center;
    background-color: rgb(197, 227, 249,0.25);
}
.titre_divers {   
    background-color:rgba(192, 192, 192, 1) ;
    padding: 5% 5% 5% 5%;
    width: 90%;
    text-align: center;
    border-radius: 3px;
    position: relative;
    font-weight: 400;
    font-size: 1em;
    visibility: visible;
}
#page {
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.article_pa {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin: 10px; 
    padding: 15px;
    background-color: rgba(192, 192, 192, 1);   
    border-radius: 3px;
    width: 100%;
    left:0;
    top: -50%; 
}
.article_pa p {
    margin-bottom: 10px;
    font-weight: 200;   
}
.img_pa img{
    width: 100%;
    height: 100%;
    left: -150px;  
    animation-name: image_anim;
    animation-duration: 1s; 
}
@keyframes image_anim {
    from {width:0%; height:0%;} to {width: 100%;height:100%;};
}
.text_pa {
    margin-bottom: 50px;
}
.page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.bouton {
    position: absolute;
    display: flex;
    background-color: rgb(110, 116, 255);  
    border-radius: 3px;
    height: 30px;
    align-content: center;
    padding: 5px;
    text-rendering: initial;
    margin-top: 10px;
    bottom: 15px;
}
.bouton:hover {
    box-shadow: -1px 0px 13px 0px #000000;
}
.bouton p {
    display: block;
    position: relative;
    bottom: 10px;   
}
.bouton a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
/* Pied de la page  */
footer {
    position: relative;
    background-color: rgb(158, 209, 245,0.6);
    height: 100px;
    margin-bottom: 0;
    display: flex;   
    max-width: 100%;
    border-radius: 3px;
}
footer p {
    position: absolute;
    top: 60px;
    margin: 5px;
    font-weight: bold;
}

@media screen and (min-width:700px ) {
    #logo img {
        height: 150px;
        width: 150px;
    }
    h1 {
        font-size: 1.8em;
    }
    h2 {
        margin-top: 2.5%;
        font-size: 1.1em; ;
    }
    nav {
        max-width: 100%;
    }
    nav ul {
        width: 700px;
    }
    nav  li { 
        padding: 20px;   
    }
    nav li a {
        font-size: 1em;
    }
    .titre_divers {
        font-size: 1.05em;
    }
    h5 {
        font-size: 1em;
    }
}
@media screen and (min-width:1100px ) {
    body {
    margin-left: 12%;
    margin-right: 12%;
    font-weight: 200;
    } 
    header {
    flex-direction: row;
    vertical-align: middle;
    margin-bottom: 2%;
    }
    #log {
        display: none;
    }
    .en_tete {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-left:20px;
    padding-top: 0;
    width: 400px;
    align-items: flex-start;
    border-radius: 3px;
    max-width: 100%;
    }
    #logo img {
        height: 170px;
        width: 170px;
    }
    h1 {
        font-size: 2em;
    }
    h2 {
        margin-top: 6%;
        font-size: 1.3em; ;
    }
    nav {
        position:absolute;
        max-width: 100%;
        top:22%;
    }
    nav ul {
        width: 700px;
    }
    nav  li { 
        padding: 20px;   
    }
    nav li a {
        font-size: 1em;
    }
    .titre_divers {
        font-size: 1.2em;
        padding: 15px;
    }
    h5 {
        font-size: 1.1em;
    } 
    .article_pa {
        width: 28%;
        margin: 1%;
    }
    #connexion {
        position: absolute;
        display: flex;
        right: 300px;
        background-color: rgb(110, 116, 255);  
        border-radius: 3px;
        height: 30px;
        align-content: center;
        margin-top: 25px;
        padding: 5px;
        text-rendering: initial;
    } */    
    #connexion:hover {
        box-shadow: -1px 0px 13px 0px #000000;
    }
    #connexion p {
        display: block;
        position: relative;
        bottom: 10px;    
    }
    #connexion a {
        text-decoration: none;
        color: white;
        font-weight: bold;
    }   
} 





/* body {
    margin-left: 12%;
    margin-right: 12%;
    display: flex;
    flex-direction: column;
    font-family: Roboto, Arial;
    font-weight: 200;
} */



/* .en_tete {
    font-family: Roboto,Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
    background-color:rgb(197, 199, 249);
    height: 100px;
    margin-top: 30px;
    padding-left: 10px;
    padding-top: 0;
    width: 500px;
    align-items: flex-start;
    border-radius: 3px;
    max-width: 100%;
} */







/* Barre de navigation 
nav {
    position: relative;
    top: -45px;
    max-width: 70%;
    align-items: center;
}
nav ul {
    display: flex;
    list-style-type: none;
}
nav  li {
    padding: 20px;
    max-width: 100%;
    background-color: rgba(192, 192, 192, 1);
    border-radius: 3px;
    transition: 0.5s;    
}
nav li:hover {
    box-shadow: inset 0px 0px 0px 3px white;
}
nav li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    font-weight: 400;
} */
















/* @media screen and (max-width:1000px ) {
    .page {
        flex-direction: column;
        
    }
    header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .en_tete {
        margin-top: -15px;
        align-items: center;

    }
    nav {
        display: none;
    }
    h3 {
        visibility: hidden;
    }
    .connexion {
        right: 200px;
    }   
}
@media screen and (max-width:700px ) {
    .connexion {
        display: none;
    }
    #log {
        display: block;
        position: relative;
        max-width: 40px;       
    }    
}
@media screen and (max-width:540px ) {
    ul{
        opacity: 1;
        transform: unset;
        gap: unset;
        position: initial;
        flex-flow: initial;
        margin-left: auto;
    }
    #log {
        display: block;
        left: 350px;
    }
    .en_tete {
        max-width: 95%;
        margin-bottom: 10px;
    }
    h1 {
        font-size: 1.5em;
    }
    h2 {
        font-size: 1.2em;
    }
} */
/* CSS la région  */
#page_deux {
    font-weight: 200;
    font-size: 0.8em;
    text-align: justify;
}
#page_deux#log {
    visibility: visible;
    position:absolute;
    top: 0;
}
#page_deux .titre_divers{
    left: -350px;
}
.img_article_p2 {
    float: right;
    margin: 5px;
}
#page_deux main img {
    animation-name: image_anim;
    animation-duration:0.5s; 
}
#page_deux .titre_divers {
    top: 30%;
    left: 5%;
    right: 0%;
    font-size: 1em;
}
#page_deux section {
    position: relative;
    top: -75px;
}
.img_article_p2b {
    float: left;
    margin: 5px;
}
#titre_page_deux_b {
    display: inline;
    left: 350px;
}
@media screen and (min-width:1100px ) {
    #page_deux {
        font-size: 1em;
    }
    #page_deux section {
        top:0;
    }
    .img_article_p2{
        float: left;
        text-align: center;
    }
    .img_article_p2b{
        float: right;
    }
    #page_deux .titre_divers {
        top: 0%;
        left: 5%;
        right: 0%;
        font-size: 1.5em;
    }
    
    
}
/* CSS page connexion  */
#page_connexion {
    font-size:small;
}
#page_connexion section  {
    display: grid;
    grid-template-areas: "titreh3"
                         "bloc_login"
                         "quitter";
    grid-template-columns: 1fr;
    grid-template-rows: 50px 600px 100px  ;
}
.titre_log {
    position: relative;
    padding: 5px;
    margin-bottom: 15px;
}
#titre_login {
    grid-area: titreh3;
    top: 0px;
    display: inline;
    text-align: center;
    bottom: 15px;
    font-size: 0.8em;
    font-weight: 700;
    max-width: 38%;
}
#log_in {
    grid-area: bloc_login;
    background-color: rgb(217, 217, 217);
    max-height: 50%;
    margin-top: 25px;
    border-radius: 3px;
}
#page_connexion  input.connexion {
    display: block;
    position: absolute;
    top: -100%; 
}
#titre_login {
    visibility: visible;
}

#page_connexion form {
    padding: 50px;
}
.in_form {
    margin:20px 0px 20px 0px;
    text-align: center;
}
.in_form input{
    border-radius: 3px;
}
#exit {   
    position: relative;
    grid-area: quitter;
    background-color: rgb(245, 9, 9);  
    border-radius: 3px;
    height: 30px;
    align-content: center;
    padding: 5px;
}
#exit p {
    display: block;
    position: relative;
    bottom: 10px; 
    text-align: center;   
}
#exit a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}
#exit:hover {
    box-shadow: -1px 0px 13px 0px #000000;
}
#page_connexion  .connexion {
    position: absolute;
    display: flex;
    background-color: rgb(110, 116, 255);  
    border-radius: 3px;
    height: 30px;
    padding: 5px;
    text-rendering: initial;
    color: white;
}
#page_connexion .connexion:hover {
    box-shadow: -1px 0px 13px 0px #000000;
}
#page_connexion  .connexion p {
    display: block;
    position: relative;
    bottom: 10px;    
}
.boutonB {
    position: relative;
    left: 90%;
    bottom: 10px;
    background-color: #000000;
}
@media screen and (min-width:700px ) {
    .log_in {
        width: 500px;          
    }
    .in_form {
        text-align: center;
        padding-right: 50px;
    }
    .boutonB {
        left: 50%;
    }
    h3#titre_login {
        max-width: 47%;
    }

}
@media screen and (min-width:1000px ) {
    .boutonB {
        left: 10%;
    }
    #titre_login {
        font-size: 1.5em;
    }
    #log_in {
        width: 700px;   
    }
    label {
        font-size: 1.2em;
    }
    #exit {
        display: none;
    }
    h3#titre_login {
        max-width: 70%;
    }
    form {
        display: block;
        position: relative;
        top: -60%;
        left: 5%;
    }
}
/* CSS page carte climato */
#tab_climat {
    display: flex;
    flex-direction: column;
}
#tab_climat  li {
    margin: 20px;
    margin-right: 50px;
    padding: 50px;
    background-color: rgb(146, 146, 229);
    list-style-type: none;
    border-radius: 3px;
}
#tab_climat a {
    text-decoration: none;
    color: white;
}
#tab_climat li:active {
    box-shadow: inset 0px 0px 0px 3px white;    
}
#carte {
    display: none;
}
/* CSS page climato grand ecran */
@media screen and (min-width:1000px ) {
    #tab_climat {
        display: none;
    }

    #carte  {
        display: block;
    }
}
/* CSS page station  */
#donnees {
    visibility: hidden;
}
#page_station article {
    margin: 5%;
    background-color:rgba(192, 192, 192, 1); 
    padding: 5%;
    border-radius: 3px;
}
#page_station article h4 {
    text-align: center;
}
#graphique {
    position: relative;
    text-align: center;
    top: 0px;
    margin-bottom: 5%;
    max-width: 50%;
}
section {
    max-width: 90%;
}
@media screen and (min-width:700px){
    #donnees {
        visibility: hidden;
    }
    #graphique {
    position: relative;
    left: 15%;  
    margin-bottom: 5%;
    max-width: 50%;
    }
}
@media screen and (min-width:1000px){
    #graphique {
        position: relative;
        text-align: center;
        top: 0px;
        margin-bottom: 5%;
        position:relative;
        left: 25%;
    }    
    td,th,table{
        border: 1px solid black;
        border-collapse: collapse; 
    }
    thead{
        background-color: grey;
        font-weight: bold;
    }
    table {
        font-size: 1em;
        position: relative;
        display: block;
        table-layout: fixed;
    }
    #min {
        color: blue;
        font-weight: bold;
    }
    #moy {
        font-weight: bold;
        color: black;
    }
    #max {
        font-weight: bold;
        color: red;
    }
    #pluie {
        font-weight: bold;
        color: blueviolet;
    }
    #donnees {
        visibility: visible;
    }
}
/* CSS page données en temps réel */
#page_temps_reel h3 {
    visibility: visible;
    top: 20%;
    font-size: 0.8em;
}
#lien_carte img{
    width: 100%;
    height: 100%;
}
@media screen and (min-width:700px){
    #page_temps_reel h3{
        text-align: center;
        font-size: 1em;
    }
}
@media screen and (min-width:1000px){
    #page_temps_reel h3{
        text-align: center;
        font-size: 1.2em;
    }
}

